.alquiler
{
    border-radius: 25px;
    padding: 25px;
    background-color: antiquewhite;
    margin-right: 88%;
    border: 100px;
    align-items: center;
}

h1
{
    text-decoration: underline;
    text-decoration-color: blueviolet;
    
}


